* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

.header-container {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}


#logo{
    height: 80px;
    padding-right: 30px;
    border-right: 1px solid rgba(223, 223, 223, 0.89);
}

.nav-container {
    width: 70%;
    margin: auto;

}

.main-container {
    width: 70%;
    margin: auto;
}

.hero-container{
    position: relative;    
}

.hero-image{ /*ok*/
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.overlay { /*sfondo nero immagine*/
    background-color: rgba(0, 0, 0, 0.479);
}

.overlay:after{
    content: "";
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    position: absolute; 
    top:0; 
    left:0;
    right: 0;
    bottom: 0;

}

.scritte-hero{
    width: 40%;
    position: absolute;
    bottom: 90px;
    left: 60px;
    color: white;
    z-index: 1;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 5px;
}

section{
    width: 70%;
    margin: auto;
}


.section-container{
    padding-top: 40px;
}

.scrittagrigia {
    color: gray;
}

h1 {
font-size: 40px;
}

a {
    text-decoration: none;
    padding: 20px 10px;
    color: rgb(158, 158, 158);
    font-weight: 400;
    
}

ul>li {
    display: inline-block;
}





.colonna {
    background-color: lightskyblue;
    float: left;
    width: 20%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#navigatore {
    margin-left: -10px;
}