* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

.header-container {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}


#logo{
    height: 80px;
    padding-right: 30px;
    border-right: 1px solid rgba(223, 223, 223, 0.89);
}

.nav-container {
    width: 70%;
    margin: auto;

}

.main-container {
    width: 70%;
    margin: auto;
}

.hero-container{
    position: relative;
    padding-bottom: 50px;
    padding-top: 20px;
}

.hero-image{
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#navigatore {
    margin-left: -10px;
}

.container-scritte-hero {
    
}


.scritte-hero{
    width: 50%;
    position: absolute;
    bottom: 150px;
    left: 60px;
    color: white;
}

.overlay-img {
    background-color: rgba(0, 0, 0, 0.479);
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 20px 10px;
    color: rgb(158, 158, 158);
    font-weight: 400;
    
}

ul>li {
    display: inline-block;
}


